@import 'base/variables';
* {
    font-family: 'Museo Sans Cyrl', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: #20105c;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 30px
}

.title {
    text-align: center;
    font-family: Montana;
    font-size: 65.7px;
    font-weight: 400;
    color: #ffffff;
    margin-bottom: 50px;
}

@import 'blocks/buttons';
@import 'blocks/header';
@import 'blocks/main';
@import 'blocks/about';
@import 'blocks/team';
@import 'blocks/footer';
