.about {
    background-color: #160b3f;
    position: relative;
    min-height: 500px;
    padding: 50px 0;
    &__title {
        text-align: center;
        font-family: Montana;
        font-size: 65.7px;
        font-weight: 400;
        color: #ffffff;
        margin-bottom: 50px;
    }
    &__descr {
        text-indent: 25px;
        font-family: Roboto;
        font-size: 37.5px;
        font-weight: 500;
        color: #ffffff;
        text-align: justify;
    }
}

@media (max-width: 690px) {
    .about {
        &__descr {
            font-size: 25px;
        }
        &__title {
            font-size: 50px;
        }
    }
}

@media (max-width: 500px) {
    .about {
        &__descr {
            font-size: 20px;
        }
        &__title {
            font-size: 35px;
        }
    }
}