.team__button {
    background-color: #4a69be46;
    border: 2px solid #74ba36;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    font-weight: 500;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    width: 200px;
    border-radius: 10px;
    text-transform: uppercase;
    &:hover {
        background-color: #74ba36;
    }
    &-active {
        background-color: #74ba36;
    }
}

.team_button-alt {
	border: 0;
	background-color: transparent;
	padding: 0;
	height: 46px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	line-height: 1;
	transition: 0.15s ease;
	&__primary {
		border-radius: 99em;
		background-color: #3eff37;
		background-image: linear-gradient(135deg, #b9f382, #519e24);
		color: #fff;
		padding: 0 1.375em;
		&:hover,
		&:focus {
			background-size: 150%;
		}
	}
	&__icon {
		height: 46px;
		width: 46px;
		border-radius: 50%;
		border: 3px solid #343945;
		color: #7d8396;
		i {
			font-size: 1.25em;
		}
		&:hover,
		&:focus {
			border-color: #7d8396;
		}
	}
}