.header {
    background: #20105c;
    padding-top: 30px;
    &__body {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo {
        font-size: 1.5em;
        color: #fff;
        font-weight: 600;
        user-select: none;
    }
    &__nav a {
        font-size: 1.1em;
        color: #fff;
        font-weight: 400;
        text-decoration: none;
        &:hover {
            border-bottom: 2px solid #fff;
        }
        &:first-child {
            margin-right: 20px;
        }
    }
}

@media (max-width: 620px) {
    .header {
        &__logo {
            font-size: 1.2em;
        }
        &__nav a {
            font-size: 0.8em;
        }
    }
}

@media (max-width: 380px) {
    .header {
        &__logo {
            font-size: 1em;
        }
        &__nav a {
            font-size: 0.7em;
        }
    }
}