.parallax {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('../img/mini_star.png') fixed;
    & img {
        position: absolute;
        pointer-events: none;
    }
    &__logo {
        top: 15%;
    }
    &__big-stars {
        height: 100vh;
    }
    &__mini-stars {
        height: 100vh;
        animation: fadein 3s ease-in-out alternate infinite;
    }
    &__earth {
        width: 873px;
        transform: translateY(50%);
    }
    &__luna {
        transform: translateX(220%) translateY(-100px);
        animation: shake 0.8s infinite;
    }
}

@keyframes shake {
    0% { 
        transform: translate(220%, -100px); 
    }
    25% { 
        transform: translate(219%, -99px); 
    }
    50% { 
        transform: translate(220%, -100px); 
    }
    75% { 
        transform: translate(221%, -101px); 
    }
    100% { 
        transform: translate(220%, -100px); 
    }
  }

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media (max-width: 1132px) {
    .parallax {
        &__luna {
            transform: translateX(150%) translateY(-100px);
            animation: shake 0.8s infinite;
        }
    }

    @keyframes shake {
        0% { 
            transform: translate(150%, -100px); 
        }
        25% { 
            transform: translate(149%, -99px); 
        }
        50% { 
            transform: translate(150%, -100px); 
        }
        75% { 
            transform: translate(151%, -101px); 
        }
        100% { 
            transform: translate(150%, -100px); 
        }
      }
}

@media (max-width: 922px) {
    .parallax {
        &__luna {
            width: 20%;
            transform: translateX(150%) translateY(-100px);
            animation: shake 0.8s infinite;
        }
        &__earth {
            width: 70%;
            transform: translateY(50%);
        }
        &__big-stars {
            height: 60vh;
        }
        &__mini-stars {
            height: 60vh;
            animation: fadein 3s ease-in-out alternate infinite;
        }
    }

    @keyframes shake {
        0% { 
            transform: translate(150%, -100px); 
        }
        25% { 
            transform: translate(149%, -99px); 
        }
        50% { 
            transform: translate(150%, -100px); 
        }
        75% { 
            transform: translate(151%, -101px); 
        }
        100% { 
            transform: translate(150%, -100px); 
        }
      }
}

@media (max-width: 785px) {
    .parallax {
        &__big-stars {
            height: 50vh;
        }
        &__mini-stars {
            height: 50vh;
            animation: fadein 3s ease-in-out alternate infinite;
        }
    }
}

@media (max-width: 700px) {
    .parallax {
        &__big-stars {
            height: 45vh;
        }
        &__mini-stars {
            height: 45vh;
            animation: fadein 3s ease-in-out alternate infinite;
        }
    }
}

@media (max-width: 620px) {
    .parallax {
        &__logo {
            width: 60vh;
        }
        &__big-stars {
            height: 35vh;
        }
        &__mini-stars {
            height: 35vh;
            animation: fadein 3s ease-in-out alternate infinite;
        }
    }
}

@media (max-width: 490px) {
    .parallax {
        &__logo {
            width: 30vh;
        }
        &__big-stars {
            height: 20vh;
        }
        &__mini-stars {
            height: 20vh;
        }
    }
}